<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Development-grade custom-VM permissions (granted via adb, unrooted). -->
    <uses-permission android:name="android.permission.MANAGE_VIRTUAL_MACHINE" />
    <uses-permission android:name="android.permission.USE_CUSTOM_VIRTUAL_MACHINE" />

    <application
        android:label="M1 Host"
        android:debuggable="true"
        android:theme="@android:style/Theme.Material.Light">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
